<html>
  <body>
    <form action="get">
      
      <div  >
        <select class="quntity" name="val">
       <option>1</option>
       <option>2</option>
       <option>3</option>
       <option>4</option></select>
       
       <p class="total">{{val}}</p>

    <label>Value 1 = </label>
    <input type="text" name="num1" value="{{n1}}"><br><br>
    <label>Value 2 = </label>
    <input type="text" name="num2"  value="{{n2}}"><br><br>
    <input type="submit" value="Addition"><br><br><br>
    <label><h4> Output = </h4></label>
    <input type="text" value={{output}}>

        </form>
      </body>
    </html>