<style>
    footer{
        background-color:black;
    }
    div .first
    {
        height:40px;
        
    }
    li
    {
        color:white;
       
    }
</style>


<footer>
<nav>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <li>  
            <h4>Payment Options</h4>
<small>Cash on delivary<br>
   PhonPay<br>Google Pay<br></small></div>
</li>
<li></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

           <li><h4>About us</h4>
            <small>About us<br><br><br>
             </small> </li>
            <li></li><li></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

           <li><h4>Contact </h4>
            <small>
                
                Phone no:7054878787<br>
                email:prakash32@gmail.com<br>
                <br>
               </small>   </li><li></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <li><h4>Address</h4>
            <small>976 kasba peth pune satoti <br>
                polis chouki back side<br>
                Pincode:411011  <br>
        </small></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <li><h4>Timing</h4>
            <small>7am to 10.30pm <br>
                Exchange timing:2pm to 5pm
                 <br><br>
        </small></li></nav>
</footer>
                   <!---- <footer>
                        <div>
                         <div class="first">
                                                 <h4>Download our App</h4><br>
                                   <small>Download App for Android<br>
                                        and ios mobile phone<br></small></div>
                          <div class="midal">
                            
                            <small>Our Purpose Is To Sustainably<br> 
                                   Make The Pleasure And Benefits<br>
                                   Of Sports Accessible To The Many.<br></small> 
                          </div> <div class="last1"> <h4>Useful Links</h4>
                                 <small>
                                     
                                     Coupons<br>
                                     Return Policy<br>
                                     Blog Post<br>
                                     Join Affiliate<br></small>                                               
                                </div><div class="last">
                                <h4>Follow Us</h4>
                                    <small>Facebook<br>
                                            Twitter<br>
                                            Instagram<br>
                                            YouTube<br>
                                </small>
                           
                            </div>    
    
    
    
                        </div>
                        </footer>-->
                    </body>
                    </html>